
.input-container-with-icon {
    position: relative;
    display: inline-block; /* or use "flex" */
}

.input-container-with-icon .input-field {
    padding-right: 30px; /* add enough padding to accommodate the icon */
}

.input-container-with-icon .fas.fa-pencil-alt {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* vertically center the icon */
}

